.images{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}
.images>img{
    vertical-align: top;
}
.windowImg{
    width: 900px;
    overflow: hidden;
    margin: 0 auto;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons  span{
    margin: 0 20px;
}
.red{
    color: red; 
}
