.windowImg{
    box-shadow: 0 0  5px #AAAAAA;
    border-radius: 5px;
    width: 900px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 150px;
}
.images{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
}
.images>img{
    vertical-align: top;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4F4;
}
#buttons  span{
    padding: 15px 30px;
    box-shadow: 0 0 1px #AAAAAA;
    border-radius: 1px;
}

.red{
    color: red; 
}
