*{margin: 0;padding: 0;}
*{box-sizing: border-box}

.window{
    width: 900px;    
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 0 5px #AAAAAA ;
}


.images{
    display: flex;
    transition: all 0.5s;
}
.images >img{
    width: 100%;  
}
.buttons,.controls{
    text-align: center;
   
}
#previous{
    float: left;
    line-height: 40px;
    padding: 5px 20px;
}
#next{
   float: right;
   line-height: 40px;
   padding: 5px 20px;

}
.controls,.buttons{
    background: #F4F4F4;
}
button{
    font-size: 16px;
    width: 100px;
    height: 50px;
    background: #F4F4F4;
    border: 1px solid #F4F4F4;
    
}